<h2 mat-dialog-title>Tiêu đề</h2>
<hr>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="form" class="form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Họ và tên" formControlName="name" [(ngModel)]="user.user_name">
            <mat-error *ngIf="form.get('name').hasError('required')">
                Tên không được để trống
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" [(ngModel)]="user.email">
            <mat-error *ngIf="form.get('email').hasError('required')">
                Email không được để trống
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('email')"> <span style="color: red;">Email không đúng định
                    dạng</span></mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Mật khẩu" formControlName="password" [(ngModel)]="user.user_password">
            <mat-error *ngIf="form.get('password').hasError('required')">
                Mật khẩu không được để trống
            </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
            <input matInput placeholder="Địa chỉ" formControlName="address" [(ngModel)]="user.address">
            <mat-error *ngIf="form.get('address').hasError('required')">
                Địa chỉ không được để trống
            </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
            <mat-label>Ngày sinh</mat-label>
            <input matInput type="date" name="" id="" formControlName="birth" [(ngModel)]="user.birth">
            <mat-error *ngIf="form.get('birth').hasError('required')">
                Ngày sinh không được để trống
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Số điện thoại" formControlName="phone" [(ngModel)]="user.phone">
            <mat-error *ngIf="form.get('phone').hasError('required')">
                Số điện thoại không được để trống
            </mat-error>
            <mat-error *ngIf="form.get('phone').hasError('pattern')">
                Số điện thoại không đúng định dạng
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Avatar" formControlName="avatar" [(ngModel)]="user.avatar">
        </mat-form-field>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Quay lại</button>
            <button mat-button (click)="save()" [disabled]="!form.valid">Lưu</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>