<h2 mat-dialog-title>Chi tiết thông tin team</h2>
<hr>
<mat-dialog-content class="mat-typography">
  <!-- <h3 class="card-title ">Tên team : {{team.name_team | uppercase}}</h3>
  <h3 class="card-title ">Tên khóa học :{{ team.name_course | uppercase }} </h3>
  <div class="list-user">
    <h3 class="card-title">Tên thành viên:</h3>

  </div> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Tên team</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Tên thành viên</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{team.name_team }}</td>
        <td>{{team.name_course}}</td>
        <td>
          <div class="list-group">
            <ul class="list-group">
              <div *ngIf="users.length ===0 ">
                <div class="alert alert-danger text-center" role="alert">
                  Không có thành viên
                </div>
              </div>
              <li class="list-group-item" *ngFor="let user of users">{{user.user_name}}</li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Quay lại</button>
</mat-dialog-actions>
