<div class="container-fluid">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">ID</th>
                <th scope="col">Tên</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Email</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td scope="row">{{i}}</td>
                <td>{{user.id}}</td>
                <td>{{user.user_name}}</td>
                <td>{{user.address}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.birth | date: 'dd-mm-yyyy'}}</td>
                <td >
                    <button  class="btn btn-primary btn-sm btn-action"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button  class="btn btn-success btn-sm btn-action" ><i class="fa fa-wrench" aria-hidden="true"></i></button>
                    <button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm btn-action"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>