<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-2">
      <h3 class="">Quản lý Team</h3>
    </div>
    <div class="col-4">
      <div class="input-group md-form form-sm form-2 pl-0 ">
        <input class="form-control my-0 py-1 red-border" type="text" placeholder="Tìm kiếm thành viên"
          aria-label="Tìm kiếm thành viên">
        <div class="input-group-append">

        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-end align-items-center ">
        <button  type="button" class="btn btn-primary">Thêm mới Team</button>
      </div>
    </div>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">ID</th>
        <th scope="col">Tên Khóa Học </th>
        <th scope="col">Tên Team</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

      <tbody>
          <tr *ngFor="let team of teams;let i = index">
            <td scope="row">{{i +1}}</td>
            <td>{{team.id_team}}</td>
            <td>{{team.name_course}}</td>
            <td>{{team.name_team}}</td>
            <td>
              <button  class="btn btn-primary btn-sm btn-action"><i class="fa fa-eye"
                  aria-hidden="true"></i></button>
              <button  class="btn btn-success btn-sm btn-action"><i class="fa fa-wrench"
                  aria-hidden="true"></i></button>
              <button  class="btn btn-danger btn-sm btn-action"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>
            </td>
          </tr>
      </tbody>
  </table>
</div>
